  body{
    background: url(../img/background.png) repeat top left;
  }

  .invalid {
    background-color: #ffb9e1;
  }

  .question_hidden{
    visibility:hidden;
  }  

  .correct {
    background-color: darkseagreen;
  }

  .tip.hide{
    color: whitesmoke;
  }

  .center{
    text-align: center;
  }

    header, section, footer {
      position: relative;
      max-width: 1000px;
      margin: 16px auto;
    }

  table {
    background-color: whitesmoke;

    border-collapse: collapse;
    border: 1px solid grey;
    padding: 5px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    
  }

  
  th, td {
    border: 1px solid grey;
    padding: 5px;    
  }

.input-field{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;    
}

  .music-button{
    cursor:pointer;
  }

  .input-field{
    width:100%;
  }
  
  .right{
    color: green;
    font-weight: bolder;
  }
  .wrong{
    color: red;
    font-weight: bolder;
  }
  .good{
    color: darkorange;
    font-weight: bolder;
  }

  input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    height:5px;
    width:40%;
    cursor: pointer;
    background: #07C;
    margin-bottom: 10px;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #07C;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  input[type=range]:focus {
    outline: none;
  }


  
  
  /* для всплывающей подсказки */
  
  .support {
    display: inline-block;
    position: relative; /*обязательное параметр*/
    text-decoration: none;
    cursor: pointer;
  }

  /* оформления знака вопросика */
  .support em {
    background: cornflowerblue;
    border-radius: 14px;
    border: 1px solid #999;
    text-align: center;
    color: #FFF;
    font: normal bold 14px Arial;
    padding: 0 4px;
  }
  
  span.support::before {
    content: attr(data_title); /*помещаем подсказку в псевдоэлемент*/
    display: none; /*скрываем подсказку*/

    /* оформления текста внутри подсказки */
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 0.5em -0.1em rgba(0,0,6,0.5);
    opacity: 0.9;        
    font: normal bold 14px Arial;    
 }
 
 span.support:focus::before {
  display: block;
}

/*убираем рамку от фокуса*/
*:focus {
  outline: none;
}

span.support::before/*если используется атрибут data-title*/ {
   display: none;
   position: absolute;
   z-index: 9998; 
   top: 0;
   left: 100%;
   background: #EDEDED;
   text-align: left;
   color: #000;
   cursor: default;
   padding: 5px;
   margin: -15px 0 0 10px; /*регулирует положение, значения зависят от применяемой конструкции*/
   width: 200px;
   min-height: 50px; 
   height: auto;
}