<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>English phrases</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<section id="content">
    <br><br>
    <h2 class="center">Training English phrases with native speakers</h2>

    <form class="center" data-bind="submit: loadRecordByWord">
        <label>Request string: </label>
        <input id="wordInput" data-bind="value: searchString" type="text" list="wordList">
        <datalist id="wordList" data-bind="foreach: availableWords">
            <option data-bind="value: $data"></option>
        </datalist>
        <input type="submit" value="Get examples">
        <br><br>
        <span>Available examples for request "</span>
        <span data-bind="text:currentSearchString"></span>
        <span>": </span>
        <span data-bind="text: (records().length)"></span>
    </form>
    <br><br>


    <table class="table-sentences">
        <tbody data-bind="foreach: records">
        <tr>
            <td class="center">
                <span data-bind="text: ($index()+1)"></span><br>
                <input data-bind="event: {change: $parent.showQuestionCheckboxChange}" class="show_question"
                       type="checkbox">
                <span data-bind="text: $data.id()"></span>
            </td>
            <td>
                        <span data-bind="attr: {tabindex: ($index() + 100001), data_title: $data.rule()}"
                              class='support question_hidden' data-title=''>
                            <em>?</em>
                        </span>
                <span data-bind="text: $parent.getRusianWithFirstUpperLetter($data.russian())"
                      class="question question_hidden"></span>
                <input data-bind="event: {keyup: $parent.inputFiledKeyUp}, attr: {tabindex: ($index() + 1)}"
                       class='input-field' type="text" placeholder="Введите перевод">
                <span data-bind="html: $parent.getEnglishWihtNamesHintsAndFirstUpper($data.english())"></span><br>
                <div class='check'></div>
                <button data-bind="click: $parent.showEditor">Show editor</button>
                <button data-bind="click: $parent.hideEditor, visible: ($data.mode() === 'edit')">Hide editor</button>

                <div data-bind="visible: ($data.mode() === 'edit')">
                    <label>Id</label>
                    <input data-bind="value: $parent.newId" type="text" class='input-field'><br>
                    <label>Word</label>
                    <input data-bind="value: $parent.newWord" type="text" class='input-field'><br>
                    <label>Russian</label>
                    <input data-bind="value: $parent.newRussian" type="text" class='input-field'><br>
                    <label>English</label>
                    <input data-bind="value: $parent.newEnglish" type="text" class='input-field'><br>
                    <label>Sound</label>
                    <input data-bind="value: $parent.newSoundPath" type="text" class='input-field'><br>
                    <label>Rule</label>
                    <input data-bind="value: $parent.newRule" type="text" class='input-field'><br>
                    <button data-bind="click: $parent.updateRecord">Update record</button>
                </div>

            </td>
            <td class="center">
                <a data-bind="event: {click: $parent.musicButtonClick}" class="music-button"><img
                        src="img/player_play.png"></a>
                <audio data-bind="attr: {src: '../words/'+ $data.word() + '/' + $data.soundPath()}"
                       class="player" type="audio/mpeg"></audio>
                <br><input
                    data-bind="event: {change: $parent.inputRangeInputAndChange, input: $parent.inputRangeInputAndChange}"
                    type="range" step="0.1" min="0.2" max="2" value="1" class="speed"/>
                <br><span class="speed-text">1.0</span>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<script type='text/javascript' src='js/knockout-3.5.0.js'></script>
<script src="js/utils.js"></script>

<script>

        var PhrasesViewModel = function () {
            var self = this;
            self.records = ko.observableArray([]);

            self.availableWords = ko.observableArray(['load', 'suffer', 'base']);
            self.searchString = ko.observable(self.availableWords()[0]);
            self.currentSearchString = ko.observable(self.searchString());
            self.records = ko.observableArray([]);

            // for edit mode
            self.newId = ko.observable("");
            self.newWord = ko.observable("");
            self.newRussian = ko.observable("");
            self.newEnglish = ko.observable("");
            self.newRule = ko.observable("");
            self.newSoundPath = ko.observable("");

            // load records from server: GET on records resource
            self.loadRecordByWord = function () {
                $.ajax("http://localhost:8080/records/" + self.searchString(), {
                    type: "GET",
                    success: function (allData) {
                        var json = ko.toJSON(allData);
                        var recordsFromServer = JSON.parse(json);
                        var array = [];
                        recordsFromServer.forEach(element => {
                            var rec = new Phrase({
                                id: element.id,
                                word: element.word,
                                russian: element.russian,
                                english: element.english,
                                rule: element.rule,
                                soundPath: element.soundPath,
                                mode: "",
                                currentAnswer: ""
                            });
                            array.push(rec);
                        });
                        self.records(array);
                    }
                });
                self.currentSearchString(self.searchString());
            };

            self.showEditor = function (record) {

                self.records().forEach(element => {
                    if (element.mode() === "edit") {
                        element.mode("");
                    }
                });

                record.mode("edit");
                self.newId(record.id());
                self.newEnglish(record.english());
                self.newRussian(record.russian());
                self.newWord(record.word());
                self.newRule(record.rule());
                self.newSoundPath(record.soundPath());
            }

            self.hideEditor = function (record) {
                record.mode("");
            }

            self.updateRecord = function (record) {
                var dataJson = '{"id":' + self.newId() + ',"word":"' + self.newWord() + '","russian":"' + self.newRussian() + '","english":"' + self.newEnglish() + '","soundPath":"' + self.newSoundPath() + '","rule":"' + self.newRule() + '"}';
                console.log(dataJson);
                $.ajax("http://localhost:8080/records/" + self.newId(), {
                    data: dataJson,
                    type: "put",
                    contentType: "application/json",
                    success: function (allData) {
                        alert("Record was successful updated");
                        record.mode("");
                        record.id(self.newId());
                        record.word(self.newWord());
                        record.russian(self.newRussian());
                        record.english(self.newEnglish());
                        record.soundPath(self.newSoundPath());
                        record.rule(self.newRule());
                    }
                });
            }

            self.inputFiledKeyUp = function (record, event) {
                var $this = $(event.target);

                if ($this.hasClass('invalid')) {
                    $this.removeClass('invalid')
                }

                if ($this.hasClass('correct')) {
                    $this.removeClass('correct')
                }

                if (event.keyCode == 113) {
                    let checkbox = $this.closest('tr')[0].getElementsByClassName('show_question')[0];
                    $(checkbox).trigger('click');
                }

                if (event.keyCode == 13) {
                    var actualVal = "";
                    tipColl = $this.closest('td')[0].getElementsByClassName('tip');
                    for (let i = 0; i < tipColl.length; i++) {
                        actualVal = actualVal + tipColl[i].innerHTML;
                    }
                    actualVal = actualVal.replace(/[\[\]]/g, "");
                    var currentVal = $this.val();
                    var checkDiv = $this.closest('td')[0].getElementsByClassName('check')[0];
                    currentVal = currentVal.replace(/[,:;?.!]/g, "").replace(/[ ]{2,}/g, " ");
                    actualVal = actualVal.replace(/[,:;?.!]/g, "").replace(/[ ]{2,}/g, " ");
                    $this.closest('tr')[0].getElementsByClassName('music-button')[0].click();
                    if (currentVal != actualVal) {
                        $this.addClass('invalid');
                        checkDiv.innerHTML = checkTranslate(actualVal, currentVal);
                    } else {
                        $this.addClass('correct');
                        checkDiv.innerHTML = '';
                    }
                }

                if (event.keyCode == 40) {
                    let currentVal = Number($this.closest('tr')[0].getElementsByClassName('speed')[0].value) - 0.1;
                    $this.closest('tr')[0].getElementsByClassName('speed')[0].value = currentVal;
                    $this.closest('tr')[0].getElementsByClassName('speed')[0].dispatchEvent(new Event("change"));
                }

                if (event.keyCode == 38) {
                    let currentVal = Number($this.closest('tr')[0].getElementsByClassName('speed')[0].value) + 0.1;
                    $this.closest('tr')[0].getElementsByClassName('speed')[0].value = currentVal;
                    $this.closest('tr')[0].getElementsByClassName('speed')[0].dispatchEvent(new Event("change"));
                }
            };

            self.musicButtonClick = function (record, event) {
                var $this = $(event.target);
                audioEl = $this.closest('td')[0].getElementsByTagName('audio')[0];
                audioEl.playbackRate = $this.closest('td')[0].getElementsByClassName('speed')[0].value;
                audioEl.play();
            }

            self.inputRangeInputAndChange = function (record, event) {
                var $this = $(event.target);
                $this.nextAll('.speed-text')[0].innerHTML = parseFloat($this.val()).toFixed(1);
            }

            self.showQuestionCheckboxChange = function (record, event) {
                var $this = $(event.target);
                if ($this.is(":checked")) {
                    $this.closest('tr')[0].getElementsByClassName('question')[0].classList.remove('question_hidden');
                    if ($this.closest('tr')[0].getElementsByClassName('support').length > 0) {
                        $this.closest('tr')[0].getElementsByClassName('support')[0].classList.remove('question_hidden');
                    }
                    return;
                }
                $this.closest('tr')[0].getElementsByClassName('question')[0].classList.add('question_hidden');
                if ($this.closest('tr')[0].getElementsByClassName('support').length > 0) {
                    $this.closest('tr')[0].getElementsByClassName('support')[0].classList.add('question_hidden');
                }
            }

            //name.charAt(0).toUpperCase() + name.slice(1)
            self.getEnglishWihtNamesHintsAndFirstUpper = function (english) {
                var result = getWithFirstUpperCase(english);
                return "<span class='tip hide'>"+ result.replace(/(\[.*?\])/g, "</span><span class='tip show'>$1</span><span class='tip hide'>") + "</span>";
            };

            self.getRusianWithFirstUpperLetter = function (russian){
                return getWithFirstUpperCase(russian)
            };
            self.loadRecordByWord();
        };

        var Phrase = function (data) {
            var self = this;
            self.id = ko.observable(data.id);
            self.word = ko.observable(data.word);
            self.russian = ko.observable(data.russian);
            self.english = ko.observable(data.english);
            self.rule = ko.observable(data.rule);
            self.soundPath = ko.observable(data.soundPath);
            self.mode = ko.observable(data.mode);
            self.currentAnswer = ko.observable(data.currentAnswer);
        };
        ko.options.useOnlyNativeEvents = true;
        ko.applyBindings(new PhrasesViewModel());
    </script>
</body>

</html>